name: Check File and Add Comment
'on':
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  check-file:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Fetch all branches
        run: git fetch --all
      - name: Check for specific file
        id: check_file
        run: >
          if git diff --name-only origin/main | grep -q
          "update/recordsrp.txt"; then
            echo "file_present=true" >> $GITHUB_ENV
          else
            echo "file_present=false" >> $GITHUB_ENV
          fi
      - name: Add comment if file is present
        if: env.file_present == 'true'
        uses: actions/github-script@v6
        with:
          script: >
            const { context, github } = require('@actions/github');

            const issueNumber = context.payload.pull_request.number;

            const filePath = 'update/recordsrp.txt';

            const comment = `The file \`${filePath}\` is present in this pull
            request. Please review it.`;


            await github.rest.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: issueNumber,
              body: comment,
            });
